
<div class="form-group">
    <%= f.label :title, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
    Название прибора <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.text_field :title, class: 'form-control col-md-7 col-xs-12', 'required': 'required' %>
    </div>
</div>

<div class="form-group">
    <%= f.label :description, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
    Описание прибора <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.text_area :description, class: 'form-control col-md-7 col-xs-12', 'required': 'required' %>
    </div>
</div>

<div class="form-group">
    <%= f.label :pic, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
    Архив прибора <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.file_field :pic, class: 'col-md-7 col-xs-12', 'required': 'required' %>
    </div>
</div>






