<h3>Кнопка добавлена</h3>
<p>Наименование: <%= @name %></p> 
<p>Уникальный идентификатор: <%= @id_n %></p> 
<p>Превью: <img src='<%= @img_path %>' /></p> 
<a class="btn btn-large" href="/builder/<%= @id %>">Добавить еще кнопку</a>
<a class="btn btn-large" href="/builder/<%= @id %>/success">Завершить</a>