<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3> САПР ВЛК <small> Виртуальный лабораторный комплекс </small> </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Электротехнические приборы <small>  </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/devices/new">Добавить прибор</a>
                        </li>
                        <li><a href="/builder">Конструктор приборов</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    <div class="row">
        <% @devices.each do |d| %>
        <div class="col-md-55">
            <div class="thumbnail">
                <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="<%= d.pic.to_s[0..d.pic.to_s.rindex(".")-1] + "/picture.jpg" %>" alt="image" />
                    <div class="mask">
                        <p><%= d.description %></p>
                        <div class="tools tools-bottom">
                            <%= link_to device_path(d) do %>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <% end %>
                            <%= link_to device_path(d), method: :delete, data: {confirm: 'Вы уверены, что хотите удалить прибор?' } do %>
                            <i class="fa fa-times"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <p><%= d.title %></p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
</div>
</div>
</div>
</div>
<!-- /page content -->