

<div class="row">
    <div class="col s3">
        <a href="/devices" class="btn-floating btn-large waves-effect waves-light red btn-dev"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="<%= @img_path %>">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= @device.title %></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 tab">
        <ul class="tabs z-depth-3">
            <li class="tab col s3"><a class="active" href="#test1">Описание прибора:</a></li>
            <li class="tab col s3"><a href="#test2">Дополнительная информация</a></li>
          </ul>
    </div>
    <div id="test1" class="col s12"><%= @device.description %></div>
    <div id="test2" class="col s12">
        <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">Путь к файлу:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @device.pic %>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">index.html:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @device.html %>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">styles:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @device.style %>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
              <div class="col s2"> <dt><span class="property">Базовый скрипт:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @device.basic_script %>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">Дополнительный скрипт:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @device.buttons_script %>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">Папка с img:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @device.buttons_img %>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
