<div class="row">
    <div class="col s3">
        <a href="/labs" class="btn-floating btn-large waves-effect waves-light red btn-dev"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <% if @lab.photo.length < 1 %>
                    <img class="activator" src="/uploads/1.jpg">
                <% else %>
                    <img class="activator" src="<%= @lab.photo %>">
                <% end %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= @lab.title %></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 tab">
        <ul class="tabs z-depth-3">
            <li class="tab col s3"><a class="active" href="#test1">Описание лабораторной работы:</a></li>
            <li class="tab col s3"><a href="#test2">Краткие методические указания:</a></li>
            <li class="tab col s3"><a href="#test3">Используемые приборы:</a></li>
            <li class="tab col s3"><a href="#test4">Дополнительные сведения:</a></li>
          </ul>
    </div>
    <div id="test1" class="col s12"><%= @lab.description %></div>
    <div id="test2" class="col s12"><%= @lab.guide %></div>
    <div id="test3" class="col s12">
        <% @lab.devices.each do |ld| %>
            <% if @i == 0 %>
                <div class="row">
            <% end %>
            <div class="col s3">
                <div class="card sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= ld.pic.to_s[0..ld.pic.to_s.rindex(".")-1] + "/picture.jpg" %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= ld.title %><i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= ld.title %><i class="material-icons right">close</i></span>
                        <p><%= ld.description %></p>
                    </div>
                    <div class="card-action">
                        <%= link_to 'Показать', device_path(ld) %>
                    </div>
                </div>
            </div>
            <% @i = @i + 1 %>
            <% if @i == 4 %>
                <% @i = 0 %>
                </div>
            <% end %>
        <% end %>
        <% unless @i == 0 %>
            </div>
        <% end %>
    </div>
    <div id="test4" class="col s12">
       <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">Тема работы:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @lab.topic %>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">Факультет:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @lab.department %>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="row">
            <dl class="dl-horizontal">
                <div class="col s2"> <dt><span class="property">Курс:</span></dt> </div>
                <div class="col s10">
                    <dd>
                        <%= @lab.class_study %>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
